form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  max-width: 500px;
  margin-inline: auto;
}

input,
select {
  border: 1px solid black;
  padding: 0.5rem 1rem;
}

button {
  background-color: green;
  color: white;
  padding: 1rem;
}

table {
  border: 1px solid black;
  padding: 1rem;
  margin-inline: auto;
  width: 1000px;
  margin-bottom: 10rem;
}

h1,
h2 {
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
}
